[Unit]
Description=UDP Broadcast Relay
After=network.target

[Service]
Type=forking
User=root
WorkingDirectory=/opt/ubrs
ExecStart=/usr/bin/python3 /opt/ubrs/ubrs.py start
ExecStop=/usr/bin/python3 /opt/ubrs/ubrs.py start
Restart=on-failure
RestartSec=10s
PIDFile=/opt/ubrs/ubrs.pid
StandardOutput=journal
StandardError=journal+console

[Install]
WantedBy=default.target
